body{
  background-image: url(./image/croptrust.jpg);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 100vh;
display: grid;
align-items: center;
justify-content: center;
}

.container{
  display: grid;
align-items: center;
justify-content: center;
  background-color: black;
  width: 1000px;
 border:  2px solid white;
 border-radius: 20px;
      text-align: center;
}

.annual{
  text-transform: capitalize;
  color: white;
  font-size: 3rem;

}
.firstParagraph{
  color:  white;
  font-size: 2rem;

display: grid;
  align-items: center;
  justify-content: center;
}
.name{
  color: white;

}
.position{

  color: white;
}
li{
  color: white;
list-style: none;
display: inline-block;
padding: 0 20px;
}